<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/stylesMenu.css")" rel="stylesheet" type="text/css" />
    <link href="~/css/stylesInput.css" rel="stylesheet" />
    <link href="~/css/styleMessage.css" rel="stylesheet" />
    <script src="~/js/menu.js"></script>

</head>
<body>
    <!-- Beginning of the header for all files -->
    <div class="menuContainer">
        <div class="menuBlock">
            <!-- button gotten from W3Schools -->
            <div>
                <img src="~/pictures/avatar.png" style="width:80px;height:80px;" />
            </div>
            <div>
                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

                <div id="id01" class="modal">

                    <form class="modal-content animate" action="/action_page.php">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="~/pictures/avatar.png" alt="Avatar" class="avatar">
                        </div>

                        <div class="container">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="uname" style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;" required>

                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;" required>

                            <button type="submit">Login</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                    </form>
                </div>
                <!-- End of button-->
            </div>


        </div>
        <div class="menuBlock">
            @RenderSection("pageName", true)
        </div>
        <div class="menuBlock">
            <!-- Start of menu-->
            <div class="dropdown" style="float:right;">
                <button class="dropbtn">Right</button>
                <div class="dropdown-content">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">News</a>
                    <a href="#">Contact</a>
                </div>
            </div>
            <!-- end of menu -->
        </div>
    </div>

    <!-- End of the header for all files -->
    <!-- Begin messsagebox input -->
    <div style="text-align: center"> Create Message</div>
    <form action="/action_page.php">
        <table width="30%" align="center" border="1">
            <tr>
                <td width="25%">Name</td>
                <td width="75%"><input type="text" name="fullname"><input type="submit" value="Submit"><br></td>
            </tr>
            <tr>
                <td width="25%">Message</td>
                <td width="75%">
                    <textarea rows="4" cols="30"></textarea>
                </td>
            </tr>
            <tr>
                <td width="25%">Upload</td>
                <td width="75%"><input type="file" style="width:100%"></td>
            </tr>
        </table>
    </form>
    <br />
    <!-- End messagebox input -->
    <!-- subsection top -->
    <hr />

    <div class="ssContainer">
        <div class="ssHalf" style="text-align: left;">
            <a href="#" name="toBottom" style="text-decoration: none">v Bottom</a>
        </div>
        <div class="ssHalf" style="text-align: right;">
            <button id="reportButton">Return</button>
        </div>
    </div>

    <hr />
    <!-- end subsection -->
    <!-- Begin body content -->

    <div class="containerBody">
        <div class="blockBody">
            @RenderBody()
        </div>
    </div>

    <!-- End body content -->
    <!-- subsection bottom -->
    <hr />

    <div class="ssContainer">
        <div class="ssHalf" style="text-align: left;">
            <a href="#" name="toTop" style="text-decoration: none">^ Top</a>
        </div>
        <div class="ssHalf" style="text-align: right;">
            <button id="deleteButton">Delete</button>
            <button id="reportButton">Report</button>
        </div>
    </div>

    <hr />
    <!-- end subsection -->
    <!-- begin footer content -->
    <div align="center"><button id="myButton">Home</button></div>

    <!-- End footer content -->
</body>
</html>
