@model IEnumerable<MessageBoard.Models.PostViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/stylesMenu.css")" rel="stylesheet" type="text/css" />
    <link href="~/css/stylesInput.css" rel="stylesheet" />
    <link href="~/css/styleMessage.css" rel="stylesheet" />
    <script src="~/js/menu.js"></script>

</head>

<h2>HomePage</h2>

<div>
    <form asp-action="AddPost" method="post">
    </form>
</div>