@model IEnumerable<TextForum.Models.Topic>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>TwaddleCate</title>
</head>
<body>
    <h1 style="text-align: center">TwaddleCate</h1>
    <div>
        <hr />
        <p style="text-align: center">
            Welcome to TwaddleCate, a text-based forum, now with picture integration.
        </p>
        <hr />
    </div>
    <div style="text-align: center">
        @foreach (var item in Model)
        {
            <div style="text-align: left; display: inline-flex; width: 30%; padding: 4px">
                <a asp-controller="Topic" asp-action="List" asp-route-id="@item.TopicID"><img src="~/Images/placeholder.jpg" class="HomeThumbnail" /></a> <a asp-controller="Topic" asp-action="List" asp-route-id="@item.TopicID"> @Html.DisplayFor(modelItem => item.TopicName)</a>
            </div>
        }
    </div>
</body>