<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/stylesMenu.css")" rel="stylesheet" type="text/css" />
    <link href="~/css/stylesInput.css" rel="stylesheet" />
    <link href="~/css/styleMessage.css" rel="stylesheet" />
    <script src="~/js/menu.js"></script>

</head>
<body>
    <div align="center" style="font-size: 12px">
        [
        <a href="~/Home/Index">Home</a>] [
        <a href="~/Topics/Entertainment">Entertainment</a>] [
        <a href="~/Topics/Fashion">Fashion</a>] [
        <a href="~/Topics/Fitness">Fitness</a>] [
        <a href="~/Topics/Food">Food</a>] [
        <a href="~/Topics/History">History</a>] [
        <a href="~/Topics/Language">Language</a>] [
        <a href="~/Topics/Literature">Literature</a>] [
        <a href="~/Topics/Math">Math</a>] [
        <a href="~/Topics/Miscellaneous" style="text-decoration: none">Miscellaneous</a>] [
        <a href="~/Topics/Places">Places</a>] [
        <a href="~/Topics/Social">Social</a>] [
        <a href="~/Topics/Sports">Sports</a>
        ]
    </div>
    <!-- Beginning of the header for all files -->
    <div class="menuContainer">
        <div class="menuBlock" style="vertical-align:top">
            <!-- button gotten from W3Schools -->
            <div>
                <img src="~/pictures/avatar.png" style="width:80px;height:80px;" />
            </div>
            <div>
                <button onclick="document.getElementById('id01').style.display='block'" style="width:80px;">Login</button>

                <div id="id01" class="modal">

                    <form class="modal-content animate" action="/action_page.php">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="~/pictures/avatar.png" alt="Avatar" class="avatar">
                        </div>

                        <div class="container">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="uname" style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;" required>

                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" style="width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;" required>

                            <button type="submit">Login</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </div>
                    </form>
                </div>
                <!-- End of button-->
            </div>


        </div>
        <div class="menuBlock">
            @RenderSection("pageName", true)
        </div>
        <div class="menuBlock" style="vertical-align:top">
            <!-- Start of menu-->
            <div class="dropdown" style="float:right; vertical-align:top">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="~/Home/Index">Home</a>
                    <a href="~/Home/About">About</a>
                    <a href="~/Home/News">News</a>
                    <a href="~/Home/Contact">Contact</a>
                </div>
            </div>
            <!-- end of menu -->
        </div>
    </div>

    <!-- End of the header for all files -->
    <!-- Begin messsagebox input -->
    <div style="text-align: center"> Create Message</div>
    <form action="/action_page.php">
        <table width="30%" align="center" border="1">
            <tr>
                <td width="25%">Name</td>
                <td width="75%"><input type="text" name="fullname" style="width:72%"><input type="submit" value="Submit" style="width:28%"><br></td>
            </tr>
            <tr>
                <td width="25%">Message</td>
                <td width="75%">
                    <textarea rows="4" cols="30"></textarea>
                </td>
            </tr>
            <tr>
                <td width="25%">Upload</td>
                <td width="75%"><input type="file" style="width:100%"></td>
            </tr>
        </table>
    </form>
    <br />
    <!-- End messagebox input -->
    <!-- subsection top -->
    <hr />

    <div class="ssContainer">
        <div class="ssHalf" style="text-align: left;">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
        <div class="ssHalf" style="text-align: right;">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Go</button>
            </form>
        </div>
    </div>

    <hr />
    <!-- end subsection -->
    <!-- Begin body content -->

    <div class="containerBody">
        <div class="blockBody">
            @RenderBody()
        </div>
    </div>

    <!-- End body content -->
    <!-- subsection bottom -->
    <hr />

    <div class="ssContainer">
        <div class="ssHalf" style="text-align: left;">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
        <div class="ssHalf" style="text-align: right;">
            <button id="deleteButton">Delete</button>
            <button id="reportButton">Report</button>
        </div>
    </div>

    <hr />
    <!-- end subsection -->
    <!-- begin footer content -->
    <div align="center" style="font-size: 12px">
        [
        <a href="~/Home/Index">Home</a>] [
        <a href="~/Topics/Entertainment">Entertainment</a>] [
        <a href="~/Topics/Fashion">Fashion</a>] [
        <a href="~/Topics/Fitness">Fitness</a>] [
        <a href="~/Topics/Food">Food</a>] [
        <a href="~/Topics/History">History</a>] [
        <a href="~/Topics/Language">Language</a>] [
        <a href="~/Topics/Literature">Literature</a>] [
        <a href="~/Topics/Math">Math</a>] [
        <a href="~/Topics/Miscellaneous" style="text-decoration: none">Miscellaneous</a>] [
        <a href="~/Topics/Places">Places</a>] [
        <a href="~/Topics/Social">Social</a>] [
        <a href="~/Topics/Sports">Sports</a>
        ]
    </div>
    <br />

    <div align="center">
        <form action="~/Home/Index">
            <button type="submit">Home</button>
        </form>
    </div>



    <!-- End footer content -->
</body>
</html>
