@model TextForum.Models.Topic

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.TopicName);
}

<div>
    <h1>@Html.DisplayFor(model => model.TopicName)</h1>
</div>


<div>
    <a asp-action="Index">Home</a>
</div>
