@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!DOCTYPE html>

<html>
<body>
    <div>
        @section pageName{
            <h1>HomePage</h1>
        }
    </div>
    <div>
        @section left{
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Math">Math</a>
            </p>
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Language">Language</a>
            </p>
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Literature">Literature</a>
            </p>
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/History">History</a>
            </p>
        }
    </div>
    <div>
        @section mid{
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Fitness">Fitness</a>
            </p>
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Food">Food</a>
            </p>
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Social">Social</a>
            </p>
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Sports">Sports</a>
            </p>
        }
    </div>
    <div>
        @section right{
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Entertainment">Entertainment</a>
            </p>
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Fashion">Fashion</a>
            </p>
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /> <a href="/Topics/Places">Places</a>
            </p>
            <p>
                <img src="~/pictures/placeholder.jpg" class="thumbnail" /><a href="/Topics/Miscellaneous">Miscellaneous</a>
            </p>
        }
    </div>
    <div>
        <br />
    @section footer{
            This is footer section.
    }
    </div>
</body>
</html>
