@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Home page</h1>
    <!-- Food, Sports, Fashion, Programming, Health, Entertainment, Miscellaneous -->
    <a href="/Topics/Food">Food</a>
    <a href="/Topics/Sports">Sports</a>
    <a href="/Topics/Fashion">Fashion</a>
    <a href="/Topics/Programming">Programming</a>
    <a href="/Topics/Health">Health</a>
    <a href="/Topics/Entertainment">Entertainment</a>
    <a href="/Topics/Miscellaneous">Miscellaneous</a>
</body>
</html>
