body {
    background-color: white;
}

h1 {
    color: black;
    border: groove black;
    text-align: center;
    align-content: center;
}

.head {
    text-align: center;
    width: 20%;
    /* menu information */
    body

{
    font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */