body {
    background-color: white;
}

h1 {
    color: black;
}

p {
    font-family: sans-serif;
    font-size: 10pt;
    color: darkblue;
    background-color: ghostwhite;
    border: solid 4px red;
    padding: 2px;
}