* {
    box-sizing: border-box;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.containerText {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.blockText {
    display: table-cell;
    width: 30%;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* handling body styles */
.blockBody {
    display: table-cell;
    display: inline-block;
    text-align: left;
    background-color: whitesmoke;
    width: 96%
}

.containerBody {
    display: table;
    text-align: center;
    width: 100%;
}

