<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/default.css" rel="stylesheet" />
</head>
<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-controller="Account" asp-action="Login">Log In</a>
    }
    else
    {
        <a asp-action="Logout" asp-controller="Account">Log Out</a>
        @User.Identity.Name
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Admin" asp-action="Index">Admin Panel</a>
    }
    <div>@RenderBody()</div>
</body>
</html>