@model TextForum.Models.Post

@{
    string tID = (string)ViewContext.RouteData.Values["id"];
}

<form asp-action="Create" method="POST" enctype="multipart/form-data">

    @if (User.Identity.IsAuthenticated)
    {
        <input type="hidden" id="UserName" name="UserName" value=@User.Identity.Name>
    }
    else
    {
        <input type="hidden" id="UserName" name="UserName" value="anonymous">
    }
    <input type="hidden" id="TopicID" name="topicID" value=@Int32.Parse(tID)>
    <input type="hidden" id="custId" name="custId" value=DateTime.UtcNow>
    <table class="ctable">
        <tbody>
            <tr>
                <td class="desc">Title</td>
                <td><input type="text" id="PostTitle" name="postTitle" style="width: 100%" /></td>
            </tr>
            <tr>
                <td class="desc" style="height: 100%">Content</td>
                <td><textarea asp-for="Content" style="width:100%; height: 100px;">Content: </textarea></td>
            </tr>
            <tr>
                <td class="desc">File</td>
                <td><input type="file" id="ImgUrl" name="imgUrl" /> <button type="submit" style="width: auto;">Post</button></td>
            </tr>
        </tbody>
    </table>
</form>