@model TextForum.Models.Post

@{
    string tID = (string)ViewContext.RouteData.Values["id"];
}


<div style="align-content: center; width: auto">
    <form asp-action="Create" method="POST" enctype="multipart/form-data" >
        <input type="hidden" id="UserID" name="userID" value=1>
        <input type="hidden" id="TopicID" name="topicID" value=@Int32.Parse(tID)>
        <input type="hidden" id="custId" name="custId" value=DateTime.UtcNow>
        <div>
            <input type="text" id="PostTitle" name="postTitle" /> <button type="submit">Post</button>
        </div>
        <div>
            <textarea asp-for="Content">Content: </textarea>
        </div>
        <div>
            <input type="file" id="ImgUrl" name="imgUrl" />
        </div>
    </form>
</div>