<div style="text-align: center;">
    @foreach (var t in Model.Topics)
    {
        <th>
            [<a asp-controller="Topic" asp-action="List" asp-route-id="@t.TopicID">@t.TopicName</a>]
        </th>
    }
</div>