<div page-model="@Model.PagingInfoR" page-action="index"></div>
<table style="text-align: left; border-collapse: collapse;">
    <tr>
        <th>Picture</th>
        <th>ID</th>
        <th>Content</th>
        <th>Action</th>
    </tr>

    @foreach (var replies in Model.Replies)
    {
        <tr style="border: 1px solid black;">
            <td>
                @if (replies.ImgUrl != null)
                {
                    @if (replies.ImgUrl.Contains("webm"))
                    {
                        <video class="thumbnail" controls>
                            <source src="https://imgrepository.blob.core.windows.net/images/@replies.ImgUrl" type="video/webm" />
                        </video>
                    }
                    else
                    {
                        <img class="thumbnail" src="https://imgrepository.blob.core.windows.net/images/@replies.ImgUrl">
                    }
                }
            </td>
            <td>@replies.PostID</td>
            <td>@replies.Content</td>
            <td>
                <a asp-controller="Replies" asp-action="list" asp-route-id="@replies.PostID">Go</a>
            </td>
        </tr>
    }
</table>