
@{
    ViewBag.Title = "Entertainment";
    Layout = "~/Views/Shared/_DiscussionLayout.cshtml";
}

@section pageName{
    <h1 align="center">Entertainment</h1>
}


<body>
    <div class="divFirst">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">variables</th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther">First! </td>
                </tr>
            </table>
        </div>
    </div>

    <br />

    <div class="divReply">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">variables</th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther">First! </td>
                </tr>
            </table>
        </div>
    </div>

    <br />
    <div class="divReply">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">variables</th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther">First! </td>
                </tr>
            </table>
        </div>
    </div>
</body>
