
@{
    ViewBag.Title = "Entertainment";
    Layout = "~/Views/Shared/_DiscussionLayout.cshtml";
}

@section pageName{
    <h1 align="center">Entertainment</h1>
}


<body>
    <div class="divFirst">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">[Anonymous] [date/time] [1]</th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther">First! </td>
                </tr>
            </table>
        </div>
    </div>

    <br />

    <div class="divReply">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">[Anonymous] [date/time] [2] :: <a href="#" name="replyLink">~3</a></th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther">This is the second post of the discussion. Notice the different color of the background and added border. I have made this message intentionally long in order to text how the scaling is done on the table that houses these elements. World of Warcraft is a time vampire that keeps trying to bite me. I have avoided it so far. I will copy paste this 2 times. This is the second post of the discussion. Notice the different color of the background and added border. I have made this message intentionally long in order to text how the scaling is done on the table that houses these elements. World of Warcraft is a time vampire that keeps trying to bite me. I have avoided it so far. I will copy paste this 2 times. This is the second post of the discussion. Notice the different color of the background and added border. I have made this message intentionally long in order to text how the scaling is done on the table that houses these elements. World of Warcraft is a time vampire that keeps trying to bite me. I have avoided it so far. I will copy paste this 2 times. </td>
                </tr>
            </table>
        </div>
    </div>

    <br />
    <div class="divReply">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">[Anonymous] [date/time] [3]</th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther"><a href="#" name="replyLink">~2</a> <br />lol </td>
                </tr>
            </table>
        </div>
    </div>
</body>
