
@{
    ViewBag.Title = "Entertainment";
    Layout = "~/Views/Shared/_DiscussionLayout.cshtml";
}

@section pageName{
    <h1 align="center">Entertainment</h1>
}


<body>
    <div class="divFirst">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">[Anonymous] [date/time] [<a href="#">4</a>]</th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther">What does everyone think of classic?</td>
                </tr>
            </table>
        </div>
    </div>

    <br />
    <?php
    $username = "Anonymous";
    $postNo = 5;
    $message = "I play a warlock";
    function counter() {
        static $x = 0;
        echo $x;
        $x++;
    }

    counter();

    <div class="divReply">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">[$username] [date/time] [<a href="#">5</a>]</th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther">I play a warlock</td>
                </tr>
            </table>
        </div>
    </div>
    ?>
</body>
