@model TextForum.Models.Replies

@{
    string tID = (string)ViewContext.RouteData.Values["id"];
}


<div style="align-content: center; width: auto">
    <form asp-action="Reply" asp-controller="Replies" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="UserID" name="userID" value=1>
        <input type="hidden" id="PostID" name="PostID" value=@Int32.Parse(tID)>
        <input type="hidden" id="custId" name="custId" value=DateTime.UtcNow>
        <p>
            <input type="file" id="ImgUrl" name="imgUrl" />
        </p>
        <p>
            <textarea asp-for="Content">Content: </textarea>
        </p>
        <button type="submit">Post</button>
    </form>
</div>