
@{
    ViewBag.Title = "Entertainment";
    Layout = "~/Views/Shared/_TopicLayout.cshtml";
}

@section pageName{
    <h1 align="center">Entertainment</h1>
}


<body>
    <div class="divFirst">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">[Anonymous] [date/time] [<a href="~/Entertainment/WoW">4</a>] <a href="~/Entertainment/WoW">Reply</a></th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther">What does everyone think of classic?</td>
                </tr>
            </table>
        </div>
    </div>

    <hr />

    <div class="divFirst">
        <div class="divImg">
            <img class="imageAvatar" src="~/pictures/avatar.png" />
        </div>
        <div class="divWrapper">
            <table style="width:100%">
                <tr>
                    <td class="tdCheck"><input type="checkbox" name="#" value="#" checked><br></td>
                    <th class="tdOther">[Anonymous] [date/time] [<a href="~/Entertainment/First">1</a>] <a href="~/Entertainment/First">Reply</a></th>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdOther">First! </td>
                </tr>
            </table>
        </div>
    </div>
</body>
