<h1>Account Management</h1>
@if (User.IsInRole("Banned"))
{
    <div style="text-align: center"><h1 style="color:red">You are banned</h1></div>
}
<h3>Posts List</h3>
<hr />

<div>
    @Html.Partial("Posts")
</div>

<hr />
<h3>Reply List</h3>
<hr />

<div>
    @Html.Partial("Replies")
</div>

<hr />
