
@{
    ViewBag.Title = "Entertainment";
    Layout = "~/Views/Shared/_TopicLayout.cshtml";
}

@section pageName{
    <h1 align="center">Entertainment</h1>
}


<body>
    <a href="~/Views/Topics/Entertainment/First">~/Views/Topics/Entertainment/First.cshtml</a>
</body>
