/*Overall Formatting*/
body {
    background-color: gainsboro;
}

/*IMAGES*/
img.HomeThumbnail {
    height: auto;
    width: auto;
    max-width: 60px;
    max-height: 60px;
    vertical-align: middle;
}

img.thumbnail {
    height: auto;
    width: 200px;
    vertical-align: middle;
}

/*Add Post Block*/


/*Shared Post stuff*/
span.user {
    color: darkgoldenrod;
    display: inline-block;
}

span.title {
    color: forestgreen;
    display: inline-block;
}

textarea {
    resize: both;
    overflow: auto;
}

div.postblock {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
/*First Posts*/

div.firsthead {

}
div.firstbody {

}
    /*Reply Posts*/
div.replyhead {

}

div.replybody {

}

div.replyblock {
    background-color: azure;
    border: ridge;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}