<h1>Admin Index</h1>
<hr />
@if (User.IsInRole("Admin"))
{
    <p>
        [<a asp-controller="Admin" asp-action="CreateRole">Create Role</a>]
        [<a asp-controller="Admin" asp-action="ListRoles">List Roles</a>]
        [<a asp-controller="Admin" asp-action="ListUsers">List Users</a>]
    </p>
    <hr />
}

<h3>Posts List</h3>
<hr />

<div>
    @Html.Partial("Posts")
</div>

<hr />

<div>
    @Html.Partial("Replies")
</div>

<hr />


@if (User.IsInRole("Admin"))
{
    <hr />
    <p>
        [<a asp-controller="Admin" asp-action="CreateRole">Create Role</a>]
        [<a asp-controller="Admin" asp-action="ListRoles">List Roles</a>]
        [<a asp-controller="Admin" asp-action="ListUsers">List Users</a>]
    </p>
    <hr />
}