@model  TextForum.Models.Post

<div style="align-content = center; width: auto">
    <form asp-action="Create" method="post">
        <input type="hidden" id="UserID" name="userID" value=1>
        <input type="hidden" id="TopicID" name="topicID" value=1>
        <input type="hidden" id="custId" name="custId" value=DateTime.Now>
        <p>
            <textarea asp-for="Content">Content: </textarea>
            <inpt asp-for"Name" />
        </p>
        <button type="submit">Post</button>
    </form>
</div>