@model PostsListViewModel

<a asp-action="Create">Create</a>

@foreach (var p in Model.Posts)
{
    @Html.Partial("PostList", p)
    <hr />
}

<div page-model="@Model.PagingInfo" page-action="List"></div>